/* OVERALL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* body {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 10px;
} */

/* NAVBAR STYLES */
nav {
    background-color: #082154;
}

#sidebarCollapse {
    background-color: #082154;
}

#navbar-logo {
    width: 80px;
    height: auto;
}
/* #navbarDropdown{
    background-color: gray;
} */

/* FOOTER STYLES */
#footer-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/* MAIN CONTAINER STYLES
#main-container {
    transition: margin-left 0.5s;
    padding-bottom: 3.5rem;    /* Footer height */
/* } */ 


/* LOG-IN PAGE */
#login_card, #register_card {
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*TABLES STYLES*/
table {
    font-size: 12px;
}


/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    height: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

tr[data-href]{
    cursor: pointer;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}   

#sidebar {
    min-width: 200px;
    max-width: 200px;
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    /* z-index: 999; */
    /* background:#F6B352; */
    background: #082154;
    color: #fff;
    transition: all 0.3s;  
    overflow-y: auto; 
    bottom: 0; 
}

#content {
    margin-left: 200px;
    max-width: 84%;
}

/* #sidebar.active {
    margin-left: -250px;
} */

/* DROPDOWNS STYLING */
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


#sidebar .sidebar-header {
    padding: 20px;
    /* background: #F6B352; */
    background: #082154;
   
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #082154;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: .5 em;
    display: block;
}
#sidebar ul li a:hover {
    color: #082154;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    /* background: #F6B352; */
    background: #082154;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #F6B352; */
    background: #082154;
}


/* Shrinking the sidebar from 250px to 80px and center aligining its content*/

#sidebar.active {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
    overflow-y: auto;
    bottom: 0;
    
}

#content.active {
    margin-left: 80px;
    max-width: 93%;
}

/* Toggling the sidebar header content, hide the big heading [h4] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header{
    border-bottom:none;
}
#sidebar .sidebar-header strong {
    display: none;
}


#sidebar.active .sidebar-header h4 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{ 
    #sidebar.active #header-display{
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) 
{
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */

    #sidebar.active #header-display{
        display: none;
    }

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    
    #content.active {
        margin-left: 0px;
        max-width: 100%;
    }

    
    #header-display{
        display:none;
    }

    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }

    #content
    {
        margin-left: 200px;
        max-width: 74%;
    }

    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h4 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{  
    #sidebar.active #header-display{
        display: none;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{ 

}


